.partial {
    background-color: #FFD700;
    text-align: center;
}

.passed {
    background-color: #0E0;
    text-align: center;
}

.failed {
    background-color: #F00;
    text-align: center;
}

.nodata {
    background-color: #c0c0c0;
    text-align: center;
}

.percent {
    text-align: center;
    font-size: 12px;
}

.impl-td {
    font-weight: bold
}

.results-table {
    font-size: 13px;
}

.status-td {
    padding-right: 8px
}

th {
    text-align: center;
    white-space: nowrap;
    background-color: light-dark(#f2f2f2, #333);
}


table.lined {
    border-collapse: collapse;
    border: solid 2px light-dark(#eee, #222);
    ;
}

table.lined th,
table.lined td {
    border: solid 1px light-dark(#eee, #222);
    ;
    padding: 5px;
}